.super-mario {
    z-index: 1;
    top: 10px;
    width: 200px;
  }
  
  .goomba {
    z-index: 2;
    left: 40px;
    width: 50px;
  }
  
  .baloon {
    z-index: 4;
    top: 200px;
  }
  
  .speach {
    z-index: 5;
    font-size: 25px;
  }
  
  .bowser {
    z-index: 3;
    width: 200px;
  }